.form-box {
    margin: 20px auto;
    padding: 20px 40px;
    border: 2px solid gray;
    max-width: 600px;
    text-align: left;
    font-size: 24px;
}

.box {
    width: 100%;
    margin-top: 15px;
}

span {
    width: 300px;
}
.row {
    display: flex;
}
.row:nth-child(2) {
    flex-basis: 100%;
}

label {
    display: inline-block;
    width: 300px;
}

input{
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
}

textarea {
    width: 270px;
}

select {
    width: 162px;
    height: 30px;
    font-size: 20px;
}

.button-box {
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-around;
}

.btn {
    padding: 7px 15px;
    font-size: 18px;
}

.submit-btn {
    background-color: #0074d9;
    color: #fff;
}

.reset-btn {
    background-color: #880000;
    color: #fff;
}

.output {
    height: 400px;
    margin-top: 30px;
    font-size: 18px;
    padding: 15px;
    color: black;
    background-color: #e5e5e5;
}

.error-message {
    margin-left: 50%;
    color: red;
}

.error {
    border-color: red;
}
